* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(16,20,24);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-top: 30px;
}
#mobile-img {
    display: none;
}
#top {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
}
#top img {
    width: 72%;
    margin-bottom: 3px;
}
#top span {
    background-color: rgb(255,228,156);
    color: black;
    font-size: 14px;
    padding: 2px 7px;
}
#desktop-img {
    width: 16%;
    position: relative;
    top: 80px;
}
#absolute div {
    padding: 5px;
    position: absolute;
    width: 9%;
}
#absolute div:hover {
    background-color: rgb(39,41,45);
}
div a {
    text-decoration: none;
}
div strong {
    color: rgb(136,163,232);
    font-size: 16px;
    font-weight: 700;
}
div small {
    color: rgb(162,169,177);
    font-size: 13px;
}
#absolute #div1 {
    top: 120px;
    left: 600px;
}
#absolute #div2 {
    top: 185px;
    left: 542px;
}
#absolute #div3 {
    top: 250px;
    left: 530px;
}
#absolute #div4 {
    top: 315px;
    left: 542px;
}
#absolute #div5 {
    top: 380px;
    left: 595px;
}
#absolute #div6 {
    top: 120px;
    right: 595px;
}
#absolute #div7 {
    top: 185px;
    right: 542px;
}
#absolute #div8 {
    top: 250px;
    right: 530px;
}
#absolute #div9 {
    top: 315px;
    right: 542px;
}
#absolute #div10 {
    top: 380px;
    right: 600px;
}
#flex {
    display: none;
}
#btn {
    margin-top: 175px;
}
#btn button {
    background-color: rgb(255,228,156);
    border: none;
    padding: 15px;
    font-weight: 700;
    font-style: 16px;
    border: 1px solid rgb(114,119,125);

}
#btn button:hover {
    color: rgb(166,187,245);
    cursor: pointer;
    background-color: rgb(39,41,45);
    border: 1px solid white;
    transition: 0.2s;
}
#btn p {
    color: rgb(234,236,240);
    font-size: 12px;
    width: 28%;
    line-height: 20px;
    margin: auto;
    margin-top: 10px;
}
#mobile-search-div {
    display: none;
}
#search-div {
    border: 1px solid rgb(114,119,125);
    display: flex;
    width: 28%;
    margin: auto;
    margin-top: 30px;
    border-radius: 2px;
}
#input-div {
    width: 90%;
}
#input-div input {
    height: 5.8vh;
    width: 84%;
    outline: none;
    font-size: 16.5px;
    padding: 10px;
    background: none;
    color: rgb(234,236,240);
    border: none;
}
#search-div select {
    background: none;
    color: rgb(174, 182, 193);
    border: none;
    font-size: 12.2px;
    margin-right: 10px;
    font-weight: lighter;
    outline: none;
    padding: 3px;
    border-radius: 2px;
}
#search-div button {
    padding: 7px;
    border: none;
    background-color: rgb(51,102,204);
    color: white;
}
#search-div:focus-within {
    border: 2px solid rgb(51,102,204);
}
#search-div select:hover {
    background-color: rgb(48, 48, 48);
    cursor: pointer;
}
#search-div button:hover {
    background-color: rgb(48,86,169);
    cursor: pointer;
}
#language {
    display: flex;
    width: 29%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    margin-top: 35px;
}
#language hr {
    width: 14%;
    height: 0.2px;
    border-bottom: 0.1px solid rgb(84,89,93);
}
#language button {
    color: rgb(136,163,232);
    background-color: rgb(32,33,34);
    padding: 8px 40px;
    border: 1px solid rgb(114,119,125);
    font-size: 14.5px;
    font-weight: 700;
    border-radius: 2px;
}
#language button:hover {
    background: transparent;
    cursor: pointer;
}
footer {
    border-bottom: 1px solid rgb(114,119,125);
    border-top: 1px solid rgb(114,119,125);
    margin: auto;
    margin-top: 30px;
    padding: 50px 15px 50px 95px;
    width: 98%;
}
#footer-flex {
    display: flex;
    justify-content: space-between;
}
#footer-flex #first {
    width: 24%;
    text-align: start;
}
#footer-flex #first span a {
    font-weight: normal;
}
#footer-flex #first a {
    font-weight: 700;
    font-size: 13px;
    color: rgb(136,163,232);
}
#footer-flex #first a:hover {
    text-decoration: underline;
}
#footer-flex #first p {
    font-size: 13px;
    color: rgb(162,169,177);
    line-height: 1.5;
}
#footer-flex #first #support {
    display: flex;
    align-items: start;
    padding-bottom: 30px;
}
#footer-flex #first #support img {
    width: 17%;
    margin-right: 5px;
}
#footer-flex #first #download {
    background-color: rgb(32,33,34);
    display: flex;
    align-items: start;
    padding: 5px 30px 0 0;
}
#footer-flex #first #download p {
    margin: 15px 0;
}
#footer-flex #grid {
    width: 69%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}
#footer-flex #grid a {
    text-align: start;
    padding-right: 20px;
    text-decoration: none;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}
#footer-flex #grid a img {
    width: 17%;
}
#footer-flex #grid a:hover {
    background-color: rgb(39,41,45);
}
#footer-flex #grid a #blue {
    color: rgb(136,163,232);
    font-size: 14px;
}
#footer-flex #grid a span {
    color: rgb(162,169,177);
    font-size: 13px;
}
#footer-flex #first #birthday {
    background-color: rgb(32,33,34);
    padding: 5px 20px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#mobile-footer-flex {
    display: none;
}
#last {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 13px;
}
#last a {
    text-decoration: none;
    color: rgb(136,163,232);
}
#last a:hover {
    text-decoration: underline;
}
#last small {
    color: rgb(162,169,177);
}

@media screen and  (max-width: 480px){
    #mobile-img {
        display: block;
        width: 28%;
        margin: auto;
    }
    #desktop-img {
        display: none;
    }
    #top {
        margin-top: 15px;
        width: 80%;
    }
    #top img {
        width: 40%;
    }
    #top span {
        font-size: 15px;
        padding: 2px 10px;
    }
    #absolute {
        display: none;
    }
    #flex {
        display: block;
    }
    #flex-divs {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 20px;
    }
    #flex-divs div {
        width: 32%;
        margin-bottom: 15px;
        padding: 0 5px;
    }
    #flex-divs div:hover {
        background-color: rgb(39,41,45);
    }
    #flex-divs div strong {
        font-size: 15px;
        font-weight: 700;
    }
    #flex-divs div small {
        font-size: 13px;
        padding: 0 7px;
        font-weight: normal;
    }
    #btn {
        margin-top: 10px;
    }
    #mobile-search-div {
        display: block;
    }
    #mobile-search-div {
        border: 1px solid rgb(114,119,125);
        display: flex;
        width: 95vw;
        margin: auto;
        margin-top: 10px;
        border-radius: 2px;
    }
    #mobile-input-div {
        width: 92%;
    }
    #mobile-input-div input {
        height: 7vh;
        width: 80%;
        outline: none;
        font-size: 16.5px;
        padding: 10px;
        background: none;
        color: rgb(234,236,240);
        border: none;
    }
    #mobile-search-div select {
        background: none;
        color: rgb(174, 182, 193);
        border: none;
        font-size: 12.2px;
        margin-right: 10px;
        font-weight: lighter;
        outline: none;
        padding: 3px;
        border-radius: 2px;
    }
    #mobile-search-div button {
        padding: 7px;
        border: none;
        background-color: rgb(51,102,204);
        color: white;
    }
    #mobile-search-div:focus-within {
        border: 2px solid rgb(51,102,204);
    }
    #mobile-search-div select:hover {
        background-color: rgb(48, 48, 48);
        cursor: pointer;
    }
    #mobile-search-div button:hover {
        background-color: rgb(48,86,169);
        cursor: pointer;
    }
    #search-div {
        display: none;
    }
    #btn button {
        padding: 15px 20px;
    }
    #btn p {
        width: 92vw;
    }
    #language hr {
        display: none;
    }
    #language {
        width: 80%;
        margin: auto;
        margin-top: 20px;
        justify-content: center;
    }
    #language button {
        padding: 8px 40px;
        font-size: 14px;
        font-weight: 700;
    }
    footer {
        margin: auto;
        margin-top: 40px;
        padding: 7px;
        width: 98%;
    }
    #footer-flex {
        display: none;
    }
    #mobile-footer-flex {
        display: block;
    }
    #mobile-footer-flex #support {
        text-align: center;
        line-height: 1.2;
    }
    #mobile-footer-flex #support img {
        width: 15%;
        margin-bottom: 10px;
    }
    #mobile-footer-flex #support p {
        font-size: 12px;
        color: rgb(162,169,177);
    }
    #mobile-footer-flex #support a {
        font-size: 12px;
        color: rgb(136,163,232);
    }
    #mobile-footer-flex #support a:hover {
        text-decoration: underline;
    }
    #mobile-footer-flex #grid {
        width: 90vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 7px;
        margin-top: 20px;
    }
    #mobile-footer-flex #grid a {
        margin-top: 20px;
        text-align: start;
        padding-right: 10px;
        text-decoration: none;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        width: 100%;
    }
    #mobile-footer-flex #grid a img {
        width: 31%;
    }
    #mobile-footer-flex #grid a:hover {
        background-color: rgb(39,41,45);
    }
    #mobile-footer-flex #grid a #blue {
        color: rgb(136,163,232);
        font-size: 14px;
    }
    #mobile-footer-flex #grid a span {
        color: rgb(162,169,177);
        font-size: 13px;
    }
    #mobile-footer-flex #download {
        background-color: rgb(32,33,34);
        padding: 0.5px 2px;
    }
    #mobile-footer-flex #download #top {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5px;
        width: 100vw;
    }
    
    #mobile-footer-flex #download a {
        color: rgb(136,163,232);
        font-weight: 700;
        font-size: 13px;
    }
    #mobile-footer-flex #download #bottom {
        width: 95vw;
        font-size: 13px;
        color: rgb(162,169,177);
        line-height: 1.5;
    }
    #mobile-footer-flex #download p {
        margin: 15px 0;
    }
    #mobile-footer-flex #birthday {
        background-color: rgb(32,33,34);
        padding: 5px 30px;
        margin: 30px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: rgb(162,169,177);
        font-size: 13px;
    }
    #last {
        margin-top: 20px;
        margin-bottom: 40px;
    }
}